lat	Longitude	wsmax	wsmin	
{{latitude}} {{longitude}}   {{da_wsmax}}   {{da_wsmin}}
LAIMAX	LAIMIN	rdepth	Rootmax Stemmax
{{da_LAIMAX}}  {{da_LAIMIN}}  {{da_rdepth}}  {{da_Rootmax}} {{da_Stemmax}}	
SapR	SapS	SLA	GLmax	GRmax	Gsmax	stom_n	
{{da_SapR}}    {{da_SapS}}    {{da_SLA}} {{da_GLmax}}   {{da_GRmax}}   {{da_Gsmax}}   {{da_stom_n}}
a1	Ds0	Vcmx0	extkU	xfang	alpha
{{da_a1}}  {{da_Ds0}} {{da_Vcmx0}}   {{da_extkU}}   {{da_xfang}}   {{da_alpha}}        	
Tau_Leaf	Tau_Wood	Tau_Root	Tau_F	Tau_C	Tau_Micro	Tau_SlowSOM	Tau_Passive	
{{da_Tau_Leaf}}    {{da_Tau_Wood}}  {{da_Tau_Root}}    {{da_Tau_F}}   {{da_Tau_C}}   {{da_Tau_Micro}}   {{da_Tau_SlowSOM}} {{da_Tau_Passive}}
gddonset	Q10	Rl0	Rs0	Rr0
{{da_gddonset}}    {{da_Q10}} {{da_Rl0}} {{da_Rs0}} {{da_Rr0}}
lat     Longitude       wsmax   wsmin
{{latitude}} {{longitude}}   {{min_wsmax}}   {{min_wsmin}}
LAIMAX  LAIMIN  rdepth  Rootmax Stemmax
{{min_LAIMAX}}  {{min_LAIMIN}}  {{min_rdepth}}  {{min_Rootmax}} {{min_Stemmax}}
SapR    SapS    SLA     GLmax   GRmax   Gsmax   stom_n
{{min_SapR}}    {{min_SapS}}    {{min_SLA}} {{min_GLmax}}   {{min_GRmax}}   {{min_Gsmax}}   {{min_stom_n}}
a1      Ds0     Vcmx0   extkU   xfang   alpha
{{min_a1}}  {{min_Ds0}} {{min_Vcmx0}}   {{min_extkU}}   {{min_xfang}}   {{min_alpha}}
Tau_Leaf        Tau_Wood        Tau_Root        Tau_F   Tau_C   Tau_Micro       Tau_SlowSOM     Tau_Passive
{{min_Tau_Leaf}}    {{min_Tau_Wood}}  {{min_Tau_Root}}    {{min_Tau_F}}   {{min_Tau_C}}   {{min_Tau_Micro}}   {{min_Tau_SlowSOM}} {{min_Tau_Passive}}
gddonset        Q10     Rl0     Rs0     Rr0
{{min_gddonset}}    {{min_Q10}} {{min_Rl0}} {{min_Rs0}} {{min_Rr0}}
lat     Longitude       wsmax   wsmin
{{latitude}} {{longitude}}   {{max_wsmax}}   {{max_wsmin}}
LAIMAX  LAIMIN  rdepth  Rootmax Stemmax
{{max_LAIMAX}}  {{max_LAIMIN}}  {{max_rdepth}}  {{max_Rootmax}} {{max_Stemmax}}
SapR    SapS    SLA     GLmax   GRmax   Gsmax   stom_n
{{max_SapR}}    {{max_SapS}}    {{max_SLA}} {{max_GLmax}}   {{max_GRmax}}   {{max_Gsmax}}   {{max_stom_n}}
a1      Ds0     Vcmx0   extkU   xfang   alpha
{{max_a1}}  {{max_Ds0}} {{max_Vcmx0}}   {{max_extkU}}   {{max_xfang}}   {{max_alpha}}
Tau_Leaf        Tau_Wood        Tau_Root        Tau_F   Tau_C   Tau_Micro       Tau_SlowSOM     Tau_Passive
{{max_Tau_Leaf}}    {{max_Tau_Wood}}  {{max_Tau_Root}}    {{max_Tau_F}}   {{max_Tau_C}}   {{max_Tau_Micro}}   {{max_Tau_SlowSOM}} {{max_Tau_Passive}}
gddonset        Q10     Rl0     Rs0     Rr0
{{max_gddonset}}    {{max_Q10}} {{max_Rl0}} {{max_Rs0}} {{max_Rr0}}
