lat	Longitude	wsmax	wsmin	
{{latitude}} {{longitude}}   {{wsmax}}   {{wsmin}}
LAIMAX	LAIMIN	rdepth	Rootmax Stemmax
{{LAIMAX}}  {{LAIMIN}}  {{rdepth}}  {{Rootmax}} {{Stemmax}}	
SapR	SapS	SLA	GLmax	GRmax	Gsmax	stom_n	
{{SapR}}    {{SapS}}    {{SLA}} {{GLmax}}   {{GRmax}}   {{Gsmax}}   {{stom_n}}
a1	Ds0	Vcmx0	extkU	xfang	alpha
{{a1}}  {{Ds0}} {{Vcmx0}}   {{extkU}}   {{xfang}}   {{alpha}}        	
Tau_Leaf	Tau_Wood	Tau_Root	Tau_F	Tau_C	Tau_Micro	Tau_SlowSOM	Tau_Passive	
{{Tau_Leaf}}    {{Tau_Wood}}  {{Tau_Root}}    {{Tau_F}}   {{Tau_C}}   {{Tau_Micro}}   {{Tau_SlowSOM}} {{Tau_Passive}}
gddonset	Q10	Rl0	Rs0	Rr0
{{gddonset}}    {{Q10_h}} {{Rl0}} {{Rs0}} {{Rr0}}
